
//colors 

$primary-color-blue: rgba(2, 4, 34, 0.5);
$button-color: rgba(122, 13, 73, 0.2);
$button-color-hover: rgba(49, 11, 32, 0.2);
$button-color-border: #2504252e;
$dropdown-color-primary: rgba(13, 8, 56,2);
$text-white: white;
$text-blue: rgb(27, 24, 39);
$text-light-grey: lightgrey;

//formatting

$default-border-radius: 2px;

//text sizes

$font-size-small: 2rem;
$font-size-medium: 2.6rem;
$font-size-large: 3.2rem;
$font-size-xlarge: 7rem;
