@import '../../sass/abstracts/variables.scss';

.hourly-list {
  font-family: "Roboto", "Open Sans", sans-serif;
  flex-shrink: 0;
  font-size: $font-size-small;
  color: $text-light-grey;
  line-height: 2;
  width: 100%;
  border: $default-border-radius 1px solid $primary-color-blue;
  background-color: $primary-color-blue; 
  padding: 5px;
}