.daily-box {
  font-family: "Roboto", "Open Sans", sans-serif;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid rgba(30, 38, 57,0.5);
  background-color:rgba(30, 38, 57,0.7); 
  padding: 5px;
}

.day-text {
  font-size: 20px;
  text-align: auto;
  margin-left: 20px;
  font-weight: bold;
  color: #9EADD6;
}

.forecast-list {
  list-style-type: none;
  text-align: left;
}

.daily-icon {
  margin: auto;
  margin-left: 50px;
  float: left;
}

.temp {
  color: white;
  font-size: 36px;
}

.daily-conditions {
  margin-left: 20px;
  font-size: 20px;
  color: #9EADD6;
}

@media (max-width: 500px) {
  .daily-box {
    width: 300px;
  }
}