@import '../../sass/abstracts/variables.scss';

.daily-box {
  font-family: "Roboto", "Open Sans", sans-serif;
  flex-shrink: 0;
  width: 100%;
  border: $default-border-radius solid 1px $primary-color-blue;
  background-color:$primary-color-blue; 
  padding: 5px;
}

.day-text {
  font-size: $font-size-medium;
  text-align: auto;
  margin-left: 20px;
  font-weight: bold;
  color: $text-light-grey;
}

.forecast-list {
  list-style-type: none;
  text-align: left;
}

.daily-icon {
  margin: auto;
  margin-left: 50px;
  float: left;
}

.temp {
  color: $text-white;
  font-size: $font-size-large;
  margin-left: 2rem;
}

.daily-conditions {
  margin-left: 20px;
  font-size: $font-size-medium;
  color: $text-light-grey;
}

@media (max-width: 500px) {
  .daily-box {
    width: 300px;
  }
}