.currentWeather {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  z-index: inherit 2;;
}

.location {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: rgb(27, 24, 39);
  opacity: 1.5;
  font-size: 2.6rem;
}
.current-temp {
  font-family: "Roboto Slab", "Open Sans", serif;
  font-size: 7rem;
  color: white;
}

.condition-pic {
  margin-right: 2rem;
  width: 80px;
  padding: 0px;
}

.conditions {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 3.2rem;
  color:rgb(27, 24, 39);
}

@media (max-width: 500px) {
  .currentWeather {
    width:300px;
  } 
}