@import '../../sass/abstracts/variables.scss';

.currentWeather {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

.location {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: $text-blue;
  opacity: 1.5;
  font-size: $font-size-medium;
}
.current-temp {
  font-family: "Roboto Slab", "Open Sans", serif;
  font-size: $font-size-xlarge;
  color: $text-white;
}

.condition-pic {
  margin-right: 2rem;
  width: 80px;
  padding: 0px;
}

.conditions {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: $font-size-large;
  color: $text-blue;
}

@media (max-width: 500px) {
  .currentWeather {
    width:90%;
  } 
}