.weekly-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  width: 90%;
  height: 625px;
  overflow-y:auto;
}

@media (max-width: 500px) {
  body {
    width: 100%;
  }
  .weekly-box{
    width: 95%;
    margin: auto;
  }
}
  