
@import './sass/abstracts/variables.scss';

.App {
  width: 80%;
  margin: auto;
  display: relative;
}


.main-display {
  margin: 3rem auto;
  text-align: center;
  background-color: $primary-color-blue;
  padding: 1rem;
  border-radius: $default-border-radius;
}

.button-menu {
  width: 50%;
  margin: 3rem 32%;

}
.btn {
  font-family: "Roboto", "Open Sans", sans-serif;
  display: inline-block;
  margin-right: 4rem;
	box-shadow: 0px 4px 20px $primary-color-blue;
	background-color:$button-color;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	border-radius: $default-border-radius;
	border:1px solid $button-color-border;
	cursor:pointer;
	color:$text-white;
	font-size: $font-size-small;
	padding:7px 25px;
  text-decoration:none;

  &:hover {
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	  background-color: $button-color-hover;
  }

  &:active{
  	top:1px;
  }
}

footer {
  display: absolute;
  text-align: center;
  font-size: $font-size-medium;
  top: 200%;
  left: 50%;

}