html {
  height:100%;
  padding: 0;
  margin: 0;
  background:url('./assets/pexels-photo-1054220.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




@media (max-width: 500px){
  body {
  height: 100%;
  background-color: white;
  }
}
