@import '../../sass/abstracts/variables.scss';

.autocomplete-dropdown-container{
  font-family: "Roboto", "Open Sans", sans-serif;
  height: 80px;
  width: 300px;
  margin-top: 10px;
  margin: auto;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 18px;
  color: $dropdown-color-primary;
  border-radius: $default-border-radius;
  opacity: 0.2;
  padding: 10px;
}

.location-search-input{
  font-family: "Roboto", "Open Sans", sans-serif;
  padding: 5px;
  font-size: 20px;
  opacity: 0.2;
  border-radius: $default-border-radius;
  color: $text-light-grey;
  background-color: $dropdown-color-primary;
}
